*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Open Sans",sans-serif;
}

header{
  height: 90px;
  background: #430707;
}

.inner-width{
  max-width: 1000px;
  padding: 0 10px;
  margin: auto;
}

.logo{
  float: left;
  padding: 10px 0;
  font-size: 3vw;
  color: white;
}

.logo img{
  height: 50px;
}

.navigation-menu{
  float: right;
  display: flex;
  align-items: center;
  min-height: 90px;
}

.navigation-menu a{
  margin-left: 10px;
  color: #ddd;
  text-transform: uppercase;
  font-size: 14px;
  padding: 12px 20px;
  border-radius: 4px;
  transition: .3s linear;
}

.navigation-menu a:hover{
  background: #fff;
  color: #2f3640;
  transform: scale(1.1);
}

.navigation-menu i{
  margin-right: 8px;
  font-size: 16px;
}

.home{
  color: #ef3f3f;
}

.about{
  color: #0abde3;
}

.works{
  color: #feca57;
}

.team{
  color: #5f27cd;
}



.menu-toggle-btn{
  float: right;
  height: 90px;
  line-height: 90px !important;
  color: #fff;
  font-size: 26px;
  display: none !important;
  cursor: pointer;
}


@media screen and (max-width:700px) {
  .menu-toggle-btn{
    display: block !important;
  }

  .navigation-menu{
    position: fixed;
    width: 100%;
    max-width: 400px;
    background: #172b4d;
    top: 90px;
    right: 0;
    display: none;
    padding: 20px 40px;
    box-sizing: border-box;
  }

  .navigation-menu::before{
    content: "";
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #172b4d;
    position: absolute;
    top: -10px;
    right: 10px;
  }

  .navigation-menu a{
    display: block;
    margin: 10px 0;
  }

  .navigation-menu.active{
    display: block;
  }
}
#leftdiv{
  background-image: url("images/doom2.jpg");
  background-size: 512px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  height: 663px;
  width: 33.33%;
  float: right;
  border: 0px solid rgb(255, 255, 255);
}

#centerdiv{
  background-image: url("images/dn3d.jpg");
  background-size: 540px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  height: 663px;
  width: 33.33%;
  float: left;
  border: 0px solid rgb(255, 255, 255);
}

#rightdiv{
  background-image: url("images/hl.jpg");
  background-size: 512px;
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
  height: 663px;
  width: 33.33%;
  margin: 0 auto;
  border: 0px solid rgb(255, 255, 255);
}

.container:hover #leftdiv{
  opacity: 0.5;
}
.container:hover #rightdiv{
  opacity: 0.5;
}
.container:hover #centerdiv{
  opacity: 0.5;
}

#Button1{
 background-color:#fff;
 font-size: 200%;
 cursor: pointer;
 position:relative;
 left:-350px;
 top:-330px;
 border-radius: 25px;
 width: 150px;
 border-color: black;
 border-radius: 20px;
 text-align: center;
 transition-duration: 0.4s;
}

#Button1:hover {
  background-color: #000000;
  color: white;
  border-color: rgb(255, 255, 255);
 border-radius: 20px;
}
